<div class="container py-4">
    <div class="row">
        <!-- <div class="col-2 mt-4" *ngFor="let film of results">
            <div class="card border-0" style="background-color: rgb(57, 28, 68);">
                <img src="{{film.thumb}}" class="card-img-top" alt="{{film.title}}">
                <div class="card-body text-center text-white" style="height: 100px;">
                  <p class="card-title fw-bold m-0">{{film.title}}</p>
                  <small class="card-title mb-0">{{film.date}}</small>
                </div>
              </div>
        </div> -->
        <div class="col-auto text-center border border-2 rounded-3 mx-2 pb-2 lh-1 day" *ngFor="let film of results" [ngClass]="{'selected': selectedDay === film}" (click)="changefilm(film)">
          <h1 class="m-0">{{film.date | date: 'dd'}}</h1>
          <small class="m-0">{{film.date | date: 'MMMM'}}</small><br>
          <small>{{ film.date | date: 'EEEE' }}</small>
        </div>

        <div class="col-12 mt-5 shows d-flex" *ngFor="let show of selectedDay.spettacoli">
          <div>
            <img src="{{show.thumb}}" alt="{{show.title}}" class="me-5">
          </div>
          <div class="w-50">
            <h3>{{show.title}}</h3>
            <p>{{show.description}}</p>
            <p>Director: {{show.director}}</p>
            <a class="btn text-white mx-2 fw-bold" *ngFor="let hour of show.orari" [routerLink]="['/seat', show.title, hour, selectedDate]">
              {{ formatTime(hour) }}
            </a>
          </div>
        </div>
    </div>
</div>
