<app-advertise></app-advertise>
<div class="container py-4 border rounded-4">
  <div class="position-relative">
    <div class="row flex-nowrap overflow-x-hidden" >
      <div class="col-auto text-center border border-2 rounded-3 mx-2 pb-2 lh-1 day"
        *ngFor="let film of results.slice(currentIndex, currentIndex + itemsToShow)"
        [ngClass]="{'selected': selectedDay === film}"
        (click)="changefilm(film)">

          <h1 class="m-0">{{film.date | date: 'dd'}}</h1>
          <small class="m-0">{{film.date | date: 'MMMM'}}</small><br>
          <small>{{ film.date | date: 'EEEE' }}</small>
      </div>
    </div>
    <button class="btn next text-white fw-bold fs-3 border" (click)="scrollNext()">></button>
    <button class="btn prev text-white fw-bold fs-3 border" (click)="scrollPrev()"> < </button>
  </div>

        <div class=" mt-5 shows d-flex" *ngFor="let show of selectedDay.spettacoli">
          <div>
            <img src="{{show.thumb}}" alt="{{show.title}}" class="me-5">
          </div>
          <div class="w-50">
            <h3>{{show.title}}</h3>
            <p>{{show.description}}</p>
            <p>Director: {{show.director}}</p>
            <a class="btn text-white mx-2 fw-bold" *ngFor="let hour of show.orari" [routerLink]="['/seat', show.title, hour, selectedDate]">
              {{ formatTime(hour) }}
            </a>
          </div>
        </div>
</div>
