@use "../../styles" as *;
.day{
    border-color: $main-color !important;
}

.selected{
    background-color: rgb(181, 57, 185);
}

.shows{
    img{
        width: 240px;
    }
    a{
        text-decoration: none;
        background-color: $main-color !important;
    }
}
.row{
    transition: transform 0.3s ease;
}
.prev{
    position: absolute;
    top: 20px;
    left: -60px;
    width: 40px;
}
.next{
    position: absolute;
    top: 20px;
    right: -60px;
    width: 40px;
}

.ad{
    width: 100% !important;
    max-height: 450px;
    object-fit: cover !important;
}